
.dash_detail1{
    display: inline-block;
    align-items: center; 
    flex-wrap: wrap; 
    width: 300px; 
    margin: 10px;
    background-color: #11c70b; 
    padding: 20px; 
    border-radius: 10px;
    margin-top: 20px; 
    box-shadow:0 20px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    text-align: center; 
    color: #fff;
    border: 4px solid #007d04; 
}
.dash_detail1 h2{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.dash_detail1 h1{
    margin-bottom: 15px;
}
.dash_detail1 a {
    color: white;                           
}
.dash_detail2{
    display: inline-block;
    align-items: center; 
    flex-wrap: wrap; 
    width: 300px; 
    margin: 10px;
    background-color: #f44c1d; 
    padding: 20px; 
    border-radius: 10px;
    margin-top: 20px; 
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 20px;
    text-align: center;
    color: #fff;
    border: 4px solid #6d0303;  
}
.dash_detail2 h2{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.dash_detail2 h1{
    margin-bottom: 15px;
}
.dash_detail2 a {
    color: rgb(255, 255, 255);                           
}
.dash_detail3{
    display: inline-block;
    align-items: center; 
    flex-wrap: wrap; 
    width: 300px; 
    margin: 10px;
    background-color: #c9a90c; 
    padding: 20px; 
    border-radius: 10px;
    margin-top: 20px; 
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 20px;
    text-align: center; 
    color: #fff;
    border: 4px solid #6f4300; 
}
.dash_detail3 h2{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.dash_detail3 h1{
    margin-bottom: 15px;
}
.dash_detail3 a {
    color: white;                           
}