body {
    background-color: blanchedalmond;
   
  }

  .form-container {
    background-color: #fff;
    margin-top: 10px;
    margin-left: 370px;
    width: 600px;
    height: 580px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(113,99,186,255);
    color: white;
    font-size: 20px;
    font-weight: bold;
    
  }

  h1 {
    text-align: center;
    font-size: 30px;
    color: #4CAF50;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  h2 {
    font-size: 24px;
  }

  .hall-booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-label {
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 10px;
    text-align: left;
  }

  .form-label1 {
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 1px;
    text-align: left;
  }

  .form-label2 {
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 75px;
    text-align: left;
  }
  .form-label3 {
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 130px;
    text-align: left;
  }
  .form-label4 {
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 75px;
    text-align: left;
  }

  .form-label5 {
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 83px;
    text-align: left;
  }

  .form-label6  {
    margin-bottom:10px;
    font-size: 20px;
    margin-left: 93px;
    text-align: left;
  }

  .form-input {
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 15px;
    width: 300px;
    font-size: 17px;
    padding: 5px;
    margin-bottom: 15px;
  }
  .form-input1{
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 15px;
    width: 300px;
    font-size: 17px;
    padding: 5px;
    margin-bottom: -35px;

  }

  /* Additional CSS to make labels and input fields appear on the same line */
  .form-label input,
  .form-label textarea {
    margin-top: 5px;
  }

  .form-label label {
    display: inline-flex;
    align-items: center ;
  }
  .Book-Hall {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .Book-Hall:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}